<div class="ausgaben-main-container">
  <!-- <h5 class="display 4.text-center"> -->
    <span style="font-weight:bold">Erfassung und Übersicht</span> 
  <!-- </h5> -->
  <hr>
  <div class="row">
    <div class="col-md-4">
       <!-- ausgewählte Ausgabe (ausgabeEdit) wird von ausgabenListComponent empfangen.
         ausgabeEdit enthält die Daten des markierten Datensatzes, die von ausgabenListComponent emittiert wurden. 
         veröffentlichte ausgabenListComponent wird für ausgabenInputComponent verfügbar gemacht.
         Hierdurch kann in ausgaben-imput.component die Methode refreshResults() von ausgabenListComponent aufgerufen werden.-->
      <app-ausgaben-input [ausgabenListComponent]="ausgabenListComponent" [ausgabeEdit]="ausgabeEdit">lädt...</app-ausgaben-input>
   </div>
    <div class="col-md-8">
      <!-- ausgewählte Ausgabe (ausgabeEdit) wird mit #ausgabenListComponent veröffentlicht
        -->
      <app-ausgabenlist #ausgabenListComponent (ausgabeEdit)="getSelectedAusgabe($event)" (selYear)="getYearUpdate($event)" (selMonth)="getMonthUpdate($event)" >lädt...</app-ausgabenlist> 
    </div>
  </div>
</div>
